html{
    height: 100%;
}
body{
    height: 100%;
}
.jumbotron {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.navbar {
    margin: 0px;
}

a.list-group-item {
    margin-top: 20px;
}

.list-group {
    border: 0px;
}

.date-label {
    padding: 3px;
}